@font-face {
  font-family: "roboto-regular";
  src: url("../font/Roboto-Regular.ttf") format("truetype");
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "roboto-regular" !important;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #090909;
}

a:hover {
  color: #090909;
}

.navbar .crayons-avatar__image {
  border-radius: 50%;
  width: 24px;
}

.left-aside .rainbow-logo {
  width: 22px;
}

.left-aside .list-group .list-group-item {
  border: none;
}

.left-aside .list-group .other-tag {
  font-weight: bolder;
  font-size: large;
}

.left-aside .social-networks-icons-container {
  margin: 25px 0 25px 0;
}

.left-aside .social-networks-icons-container .row .col-2 .navbar-brand {
  padding: 5px;
}

.left-aside .social-networks-icons-container .row .col-2 .navbar-brand:hover path {
  fill: black;
}

.left-aside .mytags-tag {
  font-weight: bolder;
  font-size: large;
}

.left-aside .my_tags_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0 15px 0;
}

.left-aside .my_tags_container a {
  background: #e7e7e7;
  padding: 3px;
  border-radius: 5px;
}

.left-aside .my_tags_container a .bi-nut {
  color: #090909;
  font-weight: bolder;
}

.left-aside .tags-column {
  height: 278px;
}

.left-aside .card {
  border: none;
  margin-top: 25px;
}

.left-aside .card a img {
  border-radius: 5px;
}

.left-aside .card .card-body p a {
  text-decoration: none;
  text-align: justify;
  color: #3b49df;
  font-size: x-large;
  font-weight: bolder;
}

.navbar-center {
  padding-top: 5px;
  padding-bottom: 5px;
}

.navbar-center .nav-item-center {
  margin: 10px;
  font-size: 1.2em;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.navbar-center .nav-item-center:hover {
  color: #4d72de;
}

.posts-center .card .card-body .perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.posts-center .card .card-body .contenido {
  padding-left: 40px;
}

.posts-center .card .card-body .contenido .title {
  font-size: 3em;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.posts-center .card .card-body .contenido .title:hover {
  color: #4d72de;
}

.posts-center .card .card-body .contenido .interactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.posts-center .card .card-body .contenido .interactions .likes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.posts-center .card .card-body .contenido .interactions .likes .reactions, .posts-center .card .card-body .contenido .interactions .likes .comments {
  margin: 0px 10px;
  padding: 5px 5px;
  border-radius: 5px;
  font-size: 0.9em;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.posts-center .card .card-body .contenido .interactions .likes .reactions:hover, .posts-center .card .card-body .contenido .interactions .likes .comments:hover {
  background-color: rgba(223, 219, 219, 0.774);
}

.posts-center .card .card-body .contenido .interactions .save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.posts-center .card .card-body .contenido .interactions .save .btn-save {
  margin-left: 5px;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.9em;
  background-color: rgba(223, 219, 219, 0.774);
  -webkit-transition: all .5s;
  transition: all .5s;
}

.posts-center .card .card-body .contenido .interactions .save .btn-save:hover {
  background-color: #c2c2c2;
}

p.parra {
  margin-bottom: 0px;
  color: #575757;
}

a.post-tags {
  margin-right: 5px;
  font-size: 0.9em;
  color: #575757;
  -webkit-transition: all .5s;
  transition: all .5s;
}

a.post-tags:hover {
  color: #090909;
}

img.img-perfil {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
}

.name {
  font-size: 0.9em;
}

.date, .text-save {
  font-size: 0.7em;
}

.forem-dev-section {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f9f9f9;
  border-radius: 10px;
  padding-bottom: 0;
}

.forem-dev-section .forem-dev-image-link {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 5px;
  margin: 10px;
  position: relative;
  top: 10px;
}

.forem-dev-section .forem-dev-image-link a img {
  width: 290px;
  height: auto;
}

.forem-dev-section .card-body .card-text {
  text-align: justify;
}

.forem-dev-section .card-body .card-text a span {
  color: #3b49df;
  font-weight: bolder;
}

.forem-dev-section .card-body .join a {
  color: #3b49df;
  font-weight: bold;
}

.listing-section .list-group .listing-section-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.listing-section .list-group .listing-section-head .listing-noun {
  font-weight: bolder;
}

.listing-section .list-group .listing-section-head a .see-all-option-link {
  color: #3b49df;
}

.listing-section .list-group .list-group-item .subtitle-listing-elements {
  font-size: medium;
  color: #575757;
  font-weight: bold;
}

.card-post .body-post {
  padding-left: 50px;
}

.card-post .body-post .title-post {
  font-size: 3em;
}

.card-post .body-post .tags-posts a.post-tags {
  color: white;
  padding: 5px;
  border-radius: 5px;
}

.card-post .body-post .tags-posts .post-tags:nth-child(1) {
  background-color: #b5a10b;
}

.card-post .body-post .tags-posts .post-tags:nth-child(2) {
  background-color: #0575ae;
}

.card-post .body-post .tags-posts .post-tags:nth-child(3) {
  background-color: #039f3c;
}

.card-post .body-post .perfil-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.card-post .body-post .perfil-post p {
  margin: 0px 10px;
}

.card-post .body-post .perfil-post .name {
  padding: 5px;
  border-radius: 5px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

.card-post .body-post .perfil-post .name:hover {
  background-color: rgba(223, 219, 219, 0.774);
}

.discusions {
  padding: 30px 50px;
}

.discusions .discu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.discusions .discu-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
/*# sourceMappingURL=style.css.map */