$primaryColor: #efefef;
$secundaryColor: #ffffff;
$terciaryColor: #4d72de;
$terciaryColorTransparent: #4d71de1c;
$cuaternaryColor: #090909;
$quinaryColor: #3b49df;
$sextaryColor: #f0f0f0;
$pTextColor: #575757;

$transparent: rgba(223, 219, 219, 0.774);
$transparentHover: rgb(194, 194, 194);


$bg-hover-color: rgba(36, 36, 36, 0.075);


$shadowBoxColor: rgba(0,0,0,0.1);

//border Color
$borderColor: rgb(177, 177, 177);


// side-bar-left
$upperBoxColor: #f9f9f9;

// side-bar-right
$shadowsideColor: rgba(0, 0, 0, 0.5);

// ------------TEXT SIZE-------------
$xsmallText: .7em;
$smallText: .9em;
$titleText: 2em;
$titleSmallText: 1.3em;
$navItem: 1.2em;