.footer-container{
    background: #d6d6d7;


    .gray-top-row{
        height: 50px;
    }


    .text-container{
        align-items: center;
        justify-content: space-around;
        
    }
}



