.footer-container{
    background: $borderColor;


    .gray-top-row{
        height: 50px;
    }


    .text-container{
        align-items: center;
        justify-content: space-around;
    }
}



