.navbar-center{
    padding-top: 5px;
    padding-bottom: 5px;
    .nav-item-center{
        margin: 10px;
        font-size: $navItem;
        transition: all .5s;
        &:hover{
            color: $terciaryColor;
        }
    }
}

.posts-center{
    .card{
        .card-body{
            .perfil{
                @include displayFlexBox(flex, row, flex-start, center, nowrap);
            }
            .contenido{
                padding-left: 40px;
                .title{
                    font-size: $titleText;
                    transition: all .5s;
                    &:hover{
                        color: $terciaryColor;
                    }
                }
                .interactions{
                    @include displayFlexBox(flex, row, space-between, center, nowrap);
                    .likes{
                        @include displayFlexBox(flex, row, flex-start, center, nowrap);                        
                        .reactions, .comments{
                            margin: 0px 10px;
                            padding: 5px 5px;
                            border-radius: 5px;
                            font-size: $smallText;
                            transition: all .5s;
                            &:hover{
                                background-color: $transparent;
                            }                            
                        }
                    }
                    .save{
                        @include displayFlexBox(flex, row, center, center, nowrap);                        
                        .btn-save{
                            margin-left: 5px;
                            padding: 5px;
                            border-radius: 5px;
                            font-size: $smallText;
                            background-color: $transparent;
                            transition: all .5s;
                            &:hover{
                                background-color: $transparentHover;
                            }
                        }
                    }
                }
            }
        }
    }
}
p.parra{
    margin-bottom: 0px;
    color: $pTextColor;
}
a.post-tags{
    margin-right: 5px;
    font-size: $smallText;
    color: $pTextColor;
    transition: all .5s;
    &:hover{
        color: $cuaternaryColor;
    }
}
img.img-perfil{
    width: 35px;
    height: 35px;
    margin-right: 10px ;
    border-radius: 50%;
}
.name{
    font-size: $smallText;
}
.date, .text-save{
    font-size: $xsmallText;
}