.navbar .crayons-avatar__image{
    border-radius: 50%;
    width: 24px;
}

.navbar .crayons-avatar__image:hover{
    filter: contrast(50%);
}


.navbar{

    #nav_button:hover{
        filter: contrast(30%);
    }
}