<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Post</title>
  </head>
  <body>
    <!-- INICIO - NAVBAR - ? -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">



        <div class="d-flex flex-row">
          <div class="p-2">
            <a class="navbar-brand" href="#">
              <svg width="50" height="40" viewBox="0 0 50 40" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="50" height="40" rx="3" style="fill: currentColor;"></rect>
                <path d="M19.099 23.508c0 1.31-.423 2.388-1.27 3.234-.838.839-1.942 1.258-3.312 1.258h-4.403V12.277h4.492c1.31 0 2.385.423 3.224 1.27.846.838 1.269 1.912 1.269 3.223v6.738zm-2.808 0V16.77c0-.562-.187-.981-.562-1.258-.374-.285-.748-.427-1.122-.427h-1.685v10.107h1.684c.375 0 .75-.138 1.123-.415.375-.285.562-.708.562-1.27zM28.185 28h-5.896c-.562 0-1.03-.187-1.404-.561-.375-.375-.562-.843-.562-1.404V14.243c0-.562.187-1.03.562-1.404.374-.375.842-.562 1.404-.562h5.896v2.808H23.13v3.65h3.088v2.808h-3.088v3.65h5.054V28zm7.12 0c-.936 0-1.684-.655-2.246-1.965l-3.65-13.758h3.089l2.807 10.804 2.808-10.804H41.2l-3.65 13.758C36.99 27.345 36.241 28 35.305 28z" style="fill: #fff;">
    
              </path>
              </svg>
            </a>

        </div>
        <div class="p-2">
            <form class="d-flex">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                  <button class="btn" type="button" id="nav_button">
                    <i class="bi bi-search"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>



        <div class="d-flex flex-row">
          <div class="p-2">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-primary">Create Post</button>
            </div>
        </div>


        <div class="p-2">
          <div class="input-group-append">
            <button class="btn" type="button" id="nav_button">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" role="img" aria-labelledby="a41cvmxi3r1lero45hkubzuujy4jlv0j" class="crayons-icon"><title id="a41cvmxi3r1lero45hkubzuujy4jlv0j">Connect</title>
                <path d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10H2l2.929-2.929A9.969 9.969 0 012 12zm4.828 8H12a8 8 0 10-8-8c0 2.152.851 4.165 2.343 5.657l1.414 1.414-.929.929zM8 13h8a4 4 0 11-8 0z"></path>
              </svg>
            </button>
          </div>
        </div>


          <div class="p-2">
            <div class="input-group-append">
              <button class="btn" type="button" id="nav_button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" role="img" aria-labelledby="a6d4t764l2b3c64midpz699jmmh662u0" class="crayons-icon"><title id="a6d4t764l2b3c64midpz699jmmh662u0">Notifications</title>
                  <path d="M20 17h2v2H2v-2h2v-7a8 8 0 1116 0v7zm-2 0v-7a6 6 0 10-12 0v7h12zm-9 4h6v2H9v-2z"></path>
                </svg>
              </button>
            </div>
          </div>


          


          <div class="p-2">
            <div class="input-group-append" >
              <button class="btn" type="button" id="nav_button">
                  <img class="crayons-avatar__image" alt="" id="nav-profile-image" src="https://res.cloudinary.com/practicaldev/image/fetch/s--zSMIs6Bb--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/710866/82393b51-810e-4a41-b9a5-84e68c77906c.png">
              </button>
          </div>
          </div>

        </div>
    
    </nav>
    <!-- FIN - NAVBAR - ? -->

    <div class="container mt-3">
      <div class="row">
        <!-- INICIO - LEFT - BALAN -->
        <div class="col-1 d-none d-md-block">
          <div class="left-aside-post">

            <!-- card-like -->
            <div class="card like">
              <div class="left-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" class="crayons-icon">
                  <path d="M21.179 12.794l.013.014L12 22l-9.192-9.192.013-.014A6.5 6.5 0 0112 3.64a6.5 6.5 0 019.179 9.154zM4.575 5.383a4.5 4.5 0 000 6.364L12 19.172l7.425-7.425a4.5 4.5 0 10-6.364-6.364L8.818 9.626 7.404 8.21l3.162-3.162a4.5 4.5 0 00-5.99.334l-.001.001z"></path>
                </svg>
              </div>
              <div class="card-body">
                <p class="parra">15</p>
              </div>
            </div>
            <!-- card-like -->
             <!-- card-unicorn -->
             <div class="card unicorn">
              <div class="left-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" aria-hidden="true" class="crayons-icon">
                  <path class="sub-icon" d="M5.645 8.013c.013-.265-.261-.323-.4-.183-1.16 1.17-1.822 3.865-.344 7.32.294.961 1.938 3.19.84 6.131l-.003.006c-.094.255.206.404.366.263 1.395-1.226 1.933-3.593 1.1-6.375-.488-1.657-1.955-4.226-1.559-7.162zm-3.22 2.738c.05-.137-.124-.417-.326-.225-.939.893-1.316 2.863-.976 4.605.547 2.878 2.374 3.526 2.066 6.629-.028.102.176.38.348.154 1.546-2.033.409-4.453-.241-6.006-1.005-2.386-1.087-4.118-.871-5.157z"></path>
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M13.622 7.223l8.579-3.68c.598-.256 1.087.547.6.985l-6.618 5.941c.881 2.043 2.738 6.34 2.931 6.775 1.348 3.031-2.055 4.918-3.807 3.583a7.027 7.027 0 01-.623-.574c-.974-.965-2.419-2.398-5.207-1.877.284-2.115-.313-3.737-.883-5.288-.38-1.032-.747-2.032-.837-3.124-.346-3.329 3.763-8.23 4.696-7.953.386.115.326 1.229.266 2.319-.051.948-.102 1.88.143 2.12.145.142.428.43.76.773zM11.5 16.5l2.5.5 2.5 2 1-.5-2-4.5-1.5-4-1.5-1-1-1-1-1.5L10 8l-.5 1.5 1 2.5 1 4.5z"></path>
              </svg>
              </div>
              <div class="card-body">
                <p class="parra">15</p>
              </div>
            </div>
            <!-- card-unicorn -->
             <!-- card-save -->
             <div class="card save">
              <div class="left-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" aria-hidden="true" class="crayons-icon">
                  <path d="M5 2h14a1 1 0 011 1v19.143a.5.5 0 01-.766.424L12 18.03l-7.234 4.536A.5.5 0 014 22.143V3a1 1 0 011-1zm13 2H6v15.432l6-3.761 6 3.761V4z"></path>
              </svg>
              </div>
              <div class="card-body">
                <p class="parra">15</p>
              </div>
            </div>
            <!-- card-save -->
            <!-- card-options -->
            <div class="card options">
              <div class="left-icon">
                ...
              </div>
            </div>
            <!-- card-options -->

          </div>

        </div>
        <!-- FIN - LEFT - BALAN -->

        <!-- INICIO - CENTER - ODON -->
        <div class="col-12 col-md-11 col-lg-11 col-xl-8">
          <!-- post -->
          <div class="card card-post">
            <img src="../img/post2.jpg" class="card-img-top" alt="..." />
            <div class="card-body body-post">
              <h1 class="title-post">Deploy Website on AWS</h1>
              <div class="tags-posts col-12">
                <a href="#" class="post-tags">#AWS</a
                ><a href="#" class="post-tags">#Cloud</a
                ><a href="#" class="post-tags">#Deploy</a>
              </div>
              <div class="perfil-post mt-3">
                <img
                  src="../img/perfil2.jpeg"
                  alt="Sugam Agrawal"
                  class="img-perfil"
                />
                <a href="#"><p class="parra name">Sugam Agrawal</p></a>
                <p class="parra date">Sep 20</p>
                <p class="parra text-save">2 min read</p>
              </div>
              <div class="contenido-post mt-3">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo
                  saepe consequatur officiis dolorum! Voluptate nesciunt
                  incidunt, quidem corrupti eos enim, beatae id similique qui
                  tempora culpa excepturi dolor voluptatibus praesentium.
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse
                  quae obcaecati debitis perferendis laboriosam at illo maxime
                  dolor quam quibusdam, provident unde delectus voluptates a ex
                  doloremque nam, fugiat perspiciatis?
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Nesciunt nostrum quod hic nam. Dolorem accusamus ab
                  consequatur fugit, quod animi officia illo, quas totam cum
                  perferendis beatae illum dicta eum.
                </p>
                <h2>Sub titluo</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dolorem cupiditate numquam minima quasi illum soluta nisi
                  necessitatibus quis voluptas maiores, fugit mollitia
                  perferendis sint laborum, culpa voluptatem. Neque, illo velit.
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Quidem corporis beatae modi quisquam in sequi laborum officia
                  ex, eius sapiente ut aliquam doloribus veniam facere
                  architecto fugit iste vitae sit.
                </p>
                <h3>Sub sub titulo</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Beatae nihil impedit, voluptatum deserunt id, cum facilis rem
                  similique odit est ut? Fuga voluptates ratione neque magni
                  molestias incidunt beatae odio!
                </p>
              </div>
            </div>
          </div>

          <!-- coments -->
          <div class="discusions border">
            <div class="discu-header">
              <h4>Discussion (1)</h4>
              <button type="button" class="btn btn-outline-secondary">
                Secondary
              </button>
            </div>
            <!-- add comment -->
            <div class="discu-comments mt-3">
              <img src="../img/perfil.jpg" alt="" class="img-perfil" />
              <div class="area-text">
                <textarea
                  class="form-control"
                  placeholder="Add your comment"
                  id="floatingTextarea2"
                  value=""
                ></textarea>
                <div class="comment-config">
                  <!-- img -->
                  <button type="button" class="btn btn-outline-secondary">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      role="img"
                      class="crayons-icon"
                    >
                      <path
                        d="M20 5H4v14l9.292-9.294a1 1 0 011.414 0L20 15.01V5zM2 3.993A1 1 0 012.992 3h18.016c.548 0 .992.445.992.993v16.014a1 1 0 01-.992.993H2.992A.993.993 0 012 20.007V3.993zM8 11a2 2 0 110-4 2 2 0 010 4z"
                      ></path>
                    </svg>
                    Add Image
                  </button>

                  <!-- template -->
                  <button type="button" class="btn btn-outline-secondary">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      role="img"
                      class="crayons-icon"
                    >
                      <path
                        d="M3 18.5V5a3 3 0 013-3h14a1 1 0 011 1v18a1 1 0 01-1 1H6.5A3.5 3.5 0 013 18.5zM19 20v-3H6.5a1.5 1.5 0 100 3H19zM10 4H6a1 1 0 00-1 1v10.337A3.485 3.485 0 016.5 15H19V4h-2v8l-3.5-2-3.5 2V4z"
                      ></path>
                    </svg>
                    Template
                  </button>
                </div>
                <div class="comment-buttons mt-2">
                  <button type="button" class="btn btn-outline-success">
                    Enviar
                  </button>
                  <button type="button" class="btn btn-outline-danger">
                    Cancelar
                  </button>
                </div>
              </div>
            </div>
            <!-- Lista de comentarios -->
            <div class="list-comments mt-3 pt-3 border-top">
              <!-- comentario -->
              <div class="comment border-bottom">
                <div class="head-comment">
                  <div class="perfil-comment">
                    <img src="../img/perfil.jpg" alt="" class="img-perfil" />
                    <a href="#">
                      <p class="parra name">Jorge Castro</p>
                    </a>
                    <p class="parra date">Sep 20</p>
                  </div>
                  <div class="options-comment">
                    <button type="button" class="btn btn-outline-secondary">
                      ...
                    </button>
                  </div>
                </div>
                <div class="comment-text">
                  <p class="parra">Comentario de mentiras xD</p>
                </div>
                <div class="likes">
                  <div class="reactions">
                    <a href="#"
                      ><svg
                        class="crayons-icon"
                        width="24"
                        height="24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M18.884 12.595l.01.011L12 19.5l-6.894-6.894.01-.01A4.875 4.875 0 0112 5.73a4.875 4.875 0 016.884 6.865zM6.431 7.037a3.375 3.375 0 000 4.773L12 17.38l5.569-5.569a3.375 3.375 0 10-4.773-4.773L9.613 10.22l-1.06-1.062 2.371-2.372a3.375 3.375 0 00-4.492.25v.001z"
                        ></path>
                      </svg>
                      15
                      <p class="parra d-none d-md-none d-lg-inline">likes</p></a
                    >
                  </div>
                  <div class="comments">
                    <a href="#"
                      ><svg
                        class="crayons-icon"
                        width="24"
                        height="24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z"
                        ></path>
                      </svg>
                      <p class="parra d-none d-md-none d-lg-inline">reply</p></a
                    >
                  </div>
                </div>
              </div>
              <!-- comentario -->

               <!-- comentario -->
               <div class="comment border-bottom">
                <div class="head-comment">
                  <div class="perfil-comment">
                    <img src="../img/perfil.jpg" alt="" class="img-perfil" />
                    <a href="#">
                      <p class="parra name">Jorge Castro</p>
                    </a>
                    <p class="parra date">Sep 20</p>
                  </div>
                  <div class="options-comment">
                    <button type="button" class="btn btn-outline-secondary">
                      ...
                    </button>
                  </div>
                </div>
                <div class="comment-text">
                  <p class="parra">Comentario de mentiras 2 xD</p>
                </div>
                <div class="likes">
                  <div class="reactions">
                    <a href="#"
                      ><svg
                        class="crayons-icon"
                        width="24"
                        height="24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M18.884 12.595l.01.011L12 19.5l-6.894-6.894.01-.01A4.875 4.875 0 0112 5.73a4.875 4.875 0 016.884 6.865zM6.431 7.037a3.375 3.375 0 000 4.773L12 17.38l5.569-5.569a3.375 3.375 0 10-4.773-4.773L9.613 10.22l-1.06-1.062 2.371-2.372a3.375 3.375 0 00-4.492.25v.001z"
                        ></path>
                      </svg>
                      15
                      <p class="parra d-none d-md-none d-lg-inline">likes</p></a
                    >
                  </div>
                  <div class="comments">
                    <a href="#"
                      ><svg
                        class="crayons-icon"
                        width="24"
                        height="24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z"
                        ></path>
                      </svg>
                      <p class="parra d-none d-md-none d-lg-inline">reply</p></a
                    >
                  </div>
                </div>
              </div>
              <!-- comentario -->

            </div>
            <!-- lista de comentarios -->
          </div>
        </div>
        <!-- FIN - CENTER - ODON -->

        <!-- INICIO - RIGTH - BALAN -->
        <div class="col-3 d-none d-lg-none d-xl-block">

          <div class="right-aside-post">
            <div class="card author-information-container">

              <div class="card photo-name-author">
                <div class="card-header"><br></div>
                <a href= "#" class="card-body">
                  <img src = "../img/perfil.jpg">
                  <h5 class="card-title">Jorge Castro</h5>
                  <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </a>
              </div>
              <div class = "follow-button-container">
                <button type="button" class="btn btn-primary btn-lg follow-button">Follow</button>
              </div>
  
  
              <div class="card author-quote" style="width: 100%;">
                <div class="card-body">
                  <p class="card-text">
                    You are free to believe in whatever you want to, me too. So, stop preaching your religion, politics, or belief. Do you have facts? Then I will listen. Do you have a personal belief? Sorry but no.
                  </p>
                </div>
              </div>
  
              <div class="card personal-info-author" style="width: 100%;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <span class = "question">LOCATION</span><br>
                    <span>Chile</span>
                  </li>
                  <li class="list-group-item">
                    <span class = "question">EDUCATION</span><br>
                    <span class = "answer">Civil Engineer in Programming</span>
                  </li>
                  <li class="list-group-item">
                    <span class = "question">WORK</span><br>
                    <span class = "answer">Entrepreneur at EFTEC</span>
                  </li>
                  <li class="list-group-item">
                    <span class = "question">JOINED</span><br>
                    <span class = "answer">1 de ene de 2019</span>
                  </li>
                </ul>
              </div>
  
            </div>
  
            <div class = "more-about-author-container">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action more-about-title"><h5>More from <span>Jorge Castro</span></h5></a>
                <a href="#" class="list-group-item list-group-item-action">PHP, Benchmark time<br>
                  <span class ="tag">#php</span> 
                  <span class ="tag">#benchmark</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action">PowerFX is the language of Microsoft</a>
                <a href="#" class="list-group-item list-group-item-action">Windows Server s*cks</a>
              </div>
  
            </div>

          </div>




        </div>


        <!-- FIN - RIGTH - BALAN -->
      </div>
    </div>

    <!-- INICIO - FOOTER - ? -->

    <footer>
      <div class="container-fluid footer-container">

        <div class = "row gray-row">
        </div>
      
        <div class="row">
           
          <div class = "col-12 text-container">
            <p>
              <a href = "#"><span>DEV Community</span></a> - A constructive and inclusive social network for software developers. With you every step of your journey.
              <br><br>
              Built on <a><span>Forem</span></a> - the <a href=""><span>open source</span></a> software that powers <a href=""><span>DEV</span></a> and other inclusive communities.
              <br>
              Made with love and <a href=""><span>Ruby on Rails</span></a>. DEV Community&#169 2016 - 2021.
            </p>
               
          </div>
  
        </div>
  
  
        <div class="row logo-container">
          <div class="col-5">
          </div>
          <div class = "col-2 specific-logo-container">
            <a href="#">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" role="img" aria-labelledby="as0pbk3cp7jvulhsh5jvhr5pgbgycdtx" class="crayons-icon crayons-icon--default"><title id="as0pbk3cp7jvulhsh5jvhr5pgbgycdtx">Forem logo</title>
                <g clip-path="url(#clip0)" fill="#1AB3A6">
                  <path d="M4.603 1.438a8.056 8.056 0 017.643 5.478 8.543 8.543 0 00-3.023 5.968H8.054C3.606 12.884 0 9.296 0 4.87V1.468a.03.03 0 01.03-.03h4.573zM23.97 6.515a.03.03 0 01.03.03v2.833c0 4.11-3.354 7.442-7.491 7.442h-2.881v5.726h-2.305V14.53l.022-1.145c.294-3.843 3.526-6.87 7.469-6.87h5.155z"></path>
                </g>
                <defs>
                  <clipPath id="clip0">
                    <path fill="#fff" d="M0 0h24v24H0z"></path>
                  </clipPath>
                </defs>
              </svg>
            </a>        
          </div>
          <div class="col-5">
          </div>
        </div>
        
        <div class="row gray-row">
        </div>
  
      </div>


    </footer>

    <!-- FIN - FOOTER - ? -->

    

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>
