<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Post</title>
  </head>
  <body>
    <!-- INICIO - NAVBAR - ? -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- FIN - NAVBAR - ? -->

    <div class="container mt-3">
      <div class="row">
        <!-- INICIO - LEFT - BALAN -->
        <div class="col-1 border">
          <p>hola</p>
        </div>
        <!-- FIN - LEFT - BALAN -->

        <!-- INICIO - CENTER - ODON -->
        <div class="col-12 col-lg-11 col-xl-8">
          <!-- post -->
          <div class="card card-post">
            <img src="../img/post2.jpg" class="card-img-top" alt="..." />
            <div class="card-body body-post">
              <h1 class="title-post">Deploy Website on AWS</h1>
              <div class="tags-posts col-12">
                <a href="#" class="post-tags">#AWS</a
                ><a href="#" class="post-tags">#Cloud</a
                ><a href="#" class="post-tags">#Deploy</a>
              </div>
              <div class="perfil-post mt-3">
                <img
                  src="../img/perfil2.jpeg"
                  alt="Sugam Agrawal"
                  class="img-perfil"
                />
                <a href="#"><p class="parra name">Sugam Agrawal</p></a>
                <p class="parra date">Sep 20</p>
                <p class="parra text-save">2 min read</p>
              </div>
              <div class="contenido-post mt-3">
                <p>
                  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illo
                  saepe consequatur officiis dolorum! Voluptate nesciunt
                  incidunt, quidem corrupti eos enim, beatae id similique qui
                  tempora culpa excepturi dolor voluptatibus praesentium.
                </p>
                <p>
                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse
                  quae obcaecati debitis perferendis laboriosam at illo maxime
                  dolor quam quibusdam, provident unde delectus voluptates a ex
                  doloremque nam, fugiat perspiciatis?
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                  Nesciunt nostrum quod hic nam. Dolorem accusamus ab
                  consequatur fugit, quod animi officia illo, quas totam cum
                  perferendis beatae illum dicta eum.
                </p>
                <h2>Sub titluo</h2>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Dolorem cupiditate numquam minima quasi illum soluta nisi
                  necessitatibus quis voluptas maiores, fugit mollitia
                  perferendis sint laborum, culpa voluptatem. Neque, illo velit.
                </p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Quidem corporis beatae modi quisquam in sequi laborum officia
                  ex, eius sapiente ut aliquam doloribus veniam facere
                  architecto fugit iste vitae sit.
                </p>
                <h3>Sub sub titulo</h3>
                <p>
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                  Beatae nihil impedit, voluptatum deserunt id, cum facilis rem
                  similique odit est ut? Fuga voluptates ratione neque magni
                  molestias incidunt beatae odio!
                </p>
              </div>
            </div>
          </div>

          <!-- coments -->
          <div class="discusions border">
            <div class="discu-header">
              <h4>Discussion (1)</h4>
              <button type="button" class="btn btn-outline-secondary">
                Secondary
              </button>
            </div>
            <!-- add comment -->
            <div class="discu-comments mt-3">
              <img src="../img/perfil.jpg" alt="" class="img-perfil" />
              <div class="area-text">
                <textarea
                  class="form-control"
                  placeholder="Add your comment"
                  id="floatingTextarea2"
                  value=""
                ></textarea>
                <div class="comment-config">
                  <!-- img -->
                  <button type="button" class="btn btn-outline-secondary">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      role="img"
                      class="crayons-icon"
                    >
                      <path
                        d="M20 5H4v14l9.292-9.294a1 1 0 011.414 0L20 15.01V5zM2 3.993A1 1 0 012.992 3h18.016c.548 0 .992.445.992.993v16.014a1 1 0 01-.992.993H2.992A.993.993 0 012 20.007V3.993zM8 11a2 2 0 110-4 2 2 0 010 4z"
                      ></path>
                    </svg>
                    Add Image
                  </button>

                  <!-- template -->
                  <button type="button" class="btn btn-outline-secondary">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      role="img"
                      class="crayons-icon"
                    >
                      <path
                        d="M3 18.5V5a3 3 0 013-3h14a1 1 0 011 1v18a1 1 0 01-1 1H6.5A3.5 3.5 0 013 18.5zM19 20v-3H6.5a1.5 1.5 0 100 3H19zM10 4H6a1 1 0 00-1 1v10.337A3.485 3.485 0 016.5 15H19V4h-2v8l-3.5-2-3.5 2V4z"
                      ></path>
                    </svg>
                    Template
                  </button>
                </div>
                <div class="comment-buttons mt-2">
                  <button type="button" class="btn btn-outline-success">
                    Enviar
                  </button>
                  <button type="button" class="btn btn-outline-danger">
                    Cancelar
                  </button>
                </div>
              </div>
            </div>
            <!-- Lista de comentarios -->
            <div class="list-comments mt-3 pt-3 border-top">
              <!-- comentario -->
              <div class="comment border-bottom">
                <div class="head-comment">
                  <div class="perfil-comment">
                    <img src="../img/perfil.jpg" alt="" class="img-perfil" />
                    <a href="#">
                      <p class="parra name">Jorge Castro</p>
                    </a>
                    <p class="parra date">Sep 20</p>
                  </div>
                  <div class="options-comment">
                    <button type="button" class="btn btn-outline-secondary">
                      ...
                    </button>
                  </div>
                </div>
                <div class="comment-text">
                  <p class="parra">Comentario de mentiras xD</p>
                </div>
                <div class="likes">
                  <div class="reactions">
                    <a href="#"
                      ><svg
                        class="crayons-icon"
                        width="24"
                        height="24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M18.884 12.595l.01.011L12 19.5l-6.894-6.894.01-.01A4.875 4.875 0 0112 5.73a4.875 4.875 0 016.884 6.865zM6.431 7.037a3.375 3.375 0 000 4.773L12 17.38l5.569-5.569a3.375 3.375 0 10-4.773-4.773L9.613 10.22l-1.06-1.062 2.371-2.372a3.375 3.375 0 00-4.492.25v.001z"
                        ></path>
                      </svg>
                      15
                      <p class="parra d-none d-md-none d-lg-inline">likes</p></a
                    >
                  </div>
                  <div class="comments">
                    <a href="#"
                      ><svg
                        class="crayons-icon"
                        width="24"
                        height="24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z"
                        ></path>
                      </svg>
                      <p class="parra d-none d-md-none d-lg-inline">reply</p></a
                    >
                  </div>
                </div>
              </div>
              <!-- comentario -->

               <!-- comentario -->
               <div class="comment border-bottom">
                <div class="head-comment">
                  <div class="perfil-comment">
                    <img src="../img/perfil.jpg" alt="" class="img-perfil" />
                    <a href="#">
                      <p class="parra name">Jorge Castro</p>
                    </a>
                    <p class="parra date">Sep 20</p>
                  </div>
                  <div class="options-comment">
                    <button type="button" class="btn btn-outline-secondary">
                      ...
                    </button>
                  </div>
                </div>
                <div class="comment-text">
                  <p class="parra">Comentario de mentiras 2 xD</p>
                </div>
                <div class="likes">
                  <div class="reactions">
                    <a href="#"
                      ><svg
                        class="crayons-icon"
                        width="24"
                        height="24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M18.884 12.595l.01.011L12 19.5l-6.894-6.894.01-.01A4.875 4.875 0 0112 5.73a4.875 4.875 0 016.884 6.865zM6.431 7.037a3.375 3.375 0 000 4.773L12 17.38l5.569-5.569a3.375 3.375 0 10-4.773-4.773L9.613 10.22l-1.06-1.062 2.371-2.372a3.375 3.375 0 00-4.492.25v.001z"
                        ></path>
                      </svg>
                      15
                      <p class="parra d-none d-md-none d-lg-inline">likes</p></a
                    >
                  </div>
                  <div class="comments">
                    <a href="#"
                      ><svg
                        class="crayons-icon"
                        width="24"
                        height="24"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M10.5 5h3a6 6 0 110 12v2.625c-3.75-1.5-9-3.75-9-8.625a6 6 0 016-6zM12 15.5h1.5a4.501 4.501 0 001.722-8.657A4.5 4.5 0 0013.5 6.5h-3A4.5 4.5 0 006 11c0 2.707 1.846 4.475 6 6.36V15.5z"
                        ></path>
                      </svg>
                      <p class="parra d-none d-md-none d-lg-inline">reply</p></a
                    >
                  </div>
                </div>
              </div>
              <!-- comentario -->

            </div>
            <!-- lista de comentarios -->
          </div>
        </div>
        <!-- FIN - CENTER - ODON -->

        <!-- INICIO - RIGTH - BALAN -->
        <div class="col-3 d-none d-lg-none d-xl-block">

          <div class="right-aside-post">
            <div class="card author-information-container">

              <div class="card photo-name-author">
                <div class="card-header"><br></div>
                <a href= "#" class="card-body">
                  <img src = "../img/perfil.jpg">
                  <h5 class="card-title">Jorge Castro</h5>
                  <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
                  <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </a>
              </div>
              <div class = "follow-button-container">
                <button type="button" class="btn btn-primary btn-lg follow-button">Follow</button>
              </div>
  
  
              <div class="card author-quote" style="width: 100%;">
                <div class="card-body">
                  <p class="card-text">
                    You are free to believe in whatever you want to, me too. So, stop preaching your religion, politics, or belief. Do you have facts? Then I will listen. Do you have a personal belief? Sorry but no.
                  </p>
                </div>
              </div>
  
              <div class="card personal-info-author" style="width: 100%;">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <span class = "question">LOCATION</span><br>
                    <span>Chile</span>
                  </li>
                  <li class="list-group-item">
                    <span class = "question">EDUCATION</span><br>
                    <span class = "answer">Civil Engineer in Programming</span>
                  </li>
                  <li class="list-group-item">
                    <span class = "question">WORK</span><br>
                    <span class = "answer">Entrepreneur at EFTEC</span>
                  </li>
                  <li class="list-group-item">
                    <span class = "question">JOINED</span><br>
                    <span class = "answer">1 de ene de 2019</span>
                  </li>
                </ul>
              </div>
  
            </div>
  
            <div class = "more-about-author-container">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action more-about-title"><h5>More from <span>Jorge Castro</span></h5></a>
                <a href="#" class="list-group-item list-group-item-action">PHP, Benchmark time<br>
                  <span class ="tag">#php</span> 
                  <span class ="tag">#benchmark</span>
                </a>
                <a href="#" class="list-group-item list-group-item-action">PowerFX is the language of Microsoft</a>
                <a href="#" class="list-group-item list-group-item-action">Windows Server s*cks</a>
              </div>
  
            </div>

          </div>




        </div>


        <!-- FIN - RIGTH - BALAN -->
      </div>
    </div>

    <!-- INICIO - FOOTER - ? -->
    <div class="container">
      <div class="row">
        <div class="col-12 border">
          <p>hola</p>
        </div>
      </div>
    </div>
    <!-- FIN - FOOTER - ? -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
      crossorigin="anonymous"
    ></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
  </body>
</html>
